.homepage-container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

#background-image-container {
  position: relative;
  width: 100%;
  height: 30%;
  background-size:cover;
  background-position: 80% 85%;
}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatar-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.welcome-message {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  display: flex;
  justify-content: center;
}

.floating-card-invitations {
  /* position: absolute;
  top: 21%;
  left: 250px; */
  margin-left: 2%;
  /* transform: translateX(-50%); */
  min-width: 300px;
  width: 15%;
  background-color: rgba(255, 255, 255, 1);
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  max-height: 85vh;
  overflow-y: auto;
}

.floating-card-upcoming {
  /* position: absolute;
  top: 21%;
  right: 250px; */
  margin-right: 2%;
  /* transform: translateX(50%); */
  min-width: 300px;
  width: 15%;
  background-color: rgba(255, 255, 255, 1);
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  max-height: 85vh;
  overflow-y: auto;
}

.floating-card-polariod {
  position: absolute;
  top: 20%;
  left: calc(50% - 300px);
  margin-left: 2%;
  border-radius: 8px;
  max-height: 85vh;
  overflow: hidden;
  width: 450px;
}
