@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add base styles to Tailwind */
@layer base {

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  /* No dark mode for now */
  color-scheme: only light;
  color: rgb(25, 25, 25);
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: rgb(2, 162, 249);
  text-decoration: inherit;
}
a:hover {
  color: rgb(2, 117, 249);

  cursor: pointer;
}

body {
  margin: 0;
  min-height: 100vh;
  display: relative;
}

#root {
  min-height: 100vh;
  position: relative;
}

}
